@tailwind base;
@tailwind components;
@tailwind utilities;

#testifier {
  font-size: 2rem;
}
#testifier:hover {
  color: blue;
}
#social {
  display: flex;
}
.fa {
  margin-right: 10px;
}
.fa:first-of-type {
  margin-left: 50px;
}
